.FeedPage{
    justify-content: normal;
    height: fit-content;
}

.PostList{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.Post{
    background-color: var(--primary-color);
    width: 90%;
    margin-bottom: 10px;

    min-height: 100px;
}