.App{
  position: relative;
  background-color: #2F5D62;

  height: fit-content;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.debugComment{
  /*color palette 01:*/
  background-color: #2F5D62;
  background-color: #5E8B7E;
  background-color: #A7C4BC;
  background-color: #DFEEEA;
}
/*.debugComment{*/
/*  !*color palette 02:*!*/
/*  background-color: #304269;*/
/*  background-color: #91BED4;*/
/*  background-color: #D9E8F5;*/
/*  background-color: #FFFFFF;*/
/*  background-color: #F26101;*/
/*}*/

:root{
  --primary-color: #2F5D62;
  --secondary-color: #5E8B7E;
  --text-color: #DFEEEA;
}


.HomePage, .TestForm, .AccountPage, .FeedPage{
  background-color: var(--secondary-color);

  margin-top: 50px;
  padding-bottom: 15px;

  width: 50%;
  height: 50%;

  border: 2px solid #A7C4BC;
  border-radius: 15px;

  color: var(--text-color);
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

}
.TestForm form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a{
  color: var(--text-color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.Header{
  width: 100%;
  background-color: var(--secondary-color);
  min-height: 50px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Header .NavElement{
  background-color: #2F5D62;
  min-height: 40px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  border-radius: 5px;

  transition: background-color 0.2s;
}
.Header .NavElement:hover{
  text-decoration: none;
  background-color: #345F78;
}






